li{
    color:rgba(0, 200, 100, .2);
}
h1{
    color: rgba(0, 200, 100, 1);
    /* border-color: aquamarine;
    border-width: 5px;
    border-style: solid; */
    border: 5px solid aquamarine;
}
h4{
    color: rgba(0, 200, 100, .5);
}
body{
    /* background-image:url("wood.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgba(194, 253, 234, 0.768);
}